body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
  background-color: #3e3e75;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: lato, sans-serif;
  text-align: center;
  margin: 20px;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.App-header{
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.App-logo {
  height: 5em;
  width: auto;
  pointer-events: none;
  margin: 4px;
  padding: 0;
}
.logo-texto{
  font-family: sans-serif,Arial, Helvetica;
  font-size: 2em;
  width: auto;
  color: #61DAFB;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

/* Lista de Tareas */

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
